@import-normalize;
body {
  overflow: hidden; /* Hide scrollbars */
}
.App {

  height: 100vh
  
}
body{background-color: #262626; padding: 10px; color: #b5ba97 }

.h1{
  font-size: 70px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper{display: flex; flex-wrap: wrap;}

.dropdowns{
  background-color: #765c36;
  color: #b5ba97
  
}
.dropdownsChecked{
  background-color: #352f27;
  color: #787a6a
}

.lightWorld{
  background-color: #36763c;
  color: #b5ba97
}

.lightWorldChecked{
  background-color: #283629;
  color: #787a6a
}

.locationPending{
  background-color: #c590ba;
  color: #2b2b2b
}




.dropDownsWrapper, .lightWorldWrapper{
  width: auto;
}

.connectors {
  background-color: #366576;
  color: #b5ba97
}

.connectorsChecked {
  background-color: #283236;
  color: #787a6a
}

.dungeons {
  background-color: #6e5181;
  color: #b5ba97
}

.dungeonsChecked {
  background-color: #3b2d44;
  color: #787a6a
}

.darkWorld {
  background-color: #3c3676;
  color: #b5ba97
}

.darkWorldChecked {
  background-color: #292836;
  color: #787a6a
}

.dropDownsWrapper div, .lightWorldWrapper div, .wrapper div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin: 2px;
  border: 0;
}

button{
  border: 0;
  border-radius: 5px;
  width: 130px;
  height: 31px;
  margin: 2px;
}

.checkbox input {
  margin: 5px;
  background-color: red;
}

.backButton{
  margin-top: 50px;
  font-size:12px;
  cursor: pointer;
}

.backText {
  font-size:12px;
}

.acceptButton, .cancelButton {
  width: 40px;
  height: 20px;
  background-color:#283236;
  color: #b5ba97;
}

.startButton {
  margin-top: 15px;
  background-color:#283236;
  color: #b5ba97;
}

a, a:hover, a:active, a:visited {
  color:#b5ba97;
}